/*--------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------------
    COMMON
--------------*/
body {
    height: 100vh;
    background-color: black;
}
header {
    height: 40px;
    padding: 10px 0;
}
/* Main container */
main {
    height: calc(100% - 140px); /* -(header h.px + footer h.px)*/
    width: 90%;
    margin: auto;
    padding-top: 20px;
    overflow-y: auto;
}
footer {
    height: 100px;
    background-color: #222222;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
button {
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: #4a4a4a;
    color: inherit;
    cursor: pointer;
    transition: 0.5s;
}
/*--------------
    HEADER
--------------*/
header div.row {
    justify-content: flex-end;
    align-items: center;
}
header div.row button:last-child {
    margin-right: 10px;
}
header button {
    font-size: 15px;
    margin-left: 5px;
}
/*--------------
    MAIN
--------------*/
.col-participant {
    position: relative;
    width: calc(100% / 7 - 20px);
    margin: 5px;
}
.col-participant img {
    display: block;
    width: 100%;
}
.participant {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}
/*--------------
    FOOTER
--------------*/
footer > .row{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
footer div.row > div {
    display: flex;
}
.col-footer-left {
    width: 15%;
    text-align: center;
    padding-left: 10px;
}
.col-footer-middle {
    width: 70%;
    justify-content: center;
    text-align: center;
}
.col-end-meeting {
    justify-content: flex-end;
    height: 100%;
    width: 15%;
    color: red;
}
.col-footer-left button, .col-footer-middle button {
    margin-right: 4px;
}
.col-end-meeting button {
    background-color: #4a4a4a;
    border-radius: 0;
    padding: 0 40px;
}
footer button {
    background-color: inherit;
    font-size: 16px;
    padding: 12px;
}
footer button i {
    padding-bottom: 8px;
}
/*--------------
    HOVERS
--------------*/
header button:hover, .col-end-meeting button:hover {
    background-color: gray;
    transition: background-color 0.5s;
}

.col-footer-left button:hover, .col-footer-middle button:hover {
    background-color: #4a4a4a;
    transition: background-color 0.5s;
}
/*--------------
    TYPO
--------------*/
body {
    font-family: 'Lato', sans-serif;
    color: white;
}
.green {
    color: lime;
}