/*--------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: black;
}
header {
    height: 40px;
    padding: 10px 0 0px;
}
/* Main container */
main {
    height: calc(100% - 120px);
    width: 90%;
    margin: auto;
    padding-top: 20px;
    overflow-y: auto;
}
footer {
    height: 80px;
    background-color: #222222;
}
/*--------------
    COMMON
--------------*/
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
/*--------------
    HEADER
--------------*/
header > div {
    text-align: right;
}
header > div > * {
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
}
header i {
    margin-right: 4px;
}
/*--------------
    MAIN
--------------*/
.col-participant {
    position: relative;
    width: calc(100% / 7 - 10px);
    margin: 5px;
}
.col-participant img {
    display: block;
    width: 100%;
}
.participant {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.6);
    padding: 5px;
}
/*--------------
    FOOTER
--------------*/
.col-footer {

}
.icona {

}
.green {
    color: lime;
}
.end-meeting {
    color: red;
    background-color: #4a4a4a;
}
/*--------------
    TYPO
--------------*/
body {
    font-family: 'Lato', sans-serif;
    color: white;
}